.parent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: burlywood;
    padding: 30px;
    align-items: center;
    
   
    
}
.parent{
    font-size: larger;
}
.div{
    font-size: 100px;

}
.child{
    font-size: 50px;
}
